<!DOCTYPE html>
<html>
<head>
    <title>Notes App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Notes App</h1>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/add">Add Note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view">View Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search Notes</a>
            </li>
        </ul>
    </div>
</body>
</html>
